.Form {
  text-align: center;
  max-width: 50%;
  font-weight: 100;
  color: blue;
}

.subTotalAmount > * {
  color: black;
  text-shadow: none;
}

.Input {
  /* display: flex; */
  justify-content: center;
}
.Input Button {
  /* display: flex; */
  background-color: white;
}
.Input Input {
  /* display: flex; */
  padding: 0;
  text-align: center;
}

.ListGroupItem {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
}

.listGroupText {
  color: #fff;
  font-weight: 100;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.linkText {
  color: #fff;
  font-weight: 100;
}

.comprarSticky {
  position: sticky !important;
  top: 120px;
  z-index: 998;
}

.Button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #f47fec 5%, #f434e4 100%);
  background-color: #f434e4;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
}
.Button:hover {
  background: linear-gradient(to bottom, #f4acec 5%, #fbeaec 100%);
  background-color: #f4acec;
}
.Button:active {
  position: relative;
  top: 1px;
  outline: 0;
}

.ButtonSecondary {
  background-color: white;
  outline: 0;
  color: #9752cc;
}

@media only screen and (max-width: 766px) {
  .ListGroupItem > * {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .completarCompra {
    position: fixed;
    top: 100px;
    width: 90%;
    z-index: 998;
  }
}
