.existingAddressRow {
  margin-bottom: 2rem;

  border-radius: 0.25rem;
  border: none;
}

.existingAddress {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
}

.existingAddress > div {
  border: 0 none;
  font-weight: 100;
  padding: 5px;
  text-align: left;
}

.check {
  color: white;
  font-weight: 100;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.check > span {
  border: 0 none;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.nuevaDireccion {
  text-align: left;
  color: white;
  font-weight: 100;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.invalidInput {
  color: hotpink;
  font-weight: 100;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
